<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Save new book</title>
</head>
<body>

<form th:method="POST" th:action="@{/books}" th:object="${book}">
  <label for="name">Введите название книги:</label>
  <input id="name" type="text" th:field="*{name}"/>
  <br>
  <label for="author">Введите автора:</label>
  <input id="author" type="text" th:field="*{author}"/>
  <br>
  <label for="year">Введите год:</label>
  <input id="year" type="text" th:field="*{year}"/>
  <br>
  <input type="submit" value="Создать!"/>

</form>


</body>
</html>