<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit person</title>
</head>
<body>

<form th:method="PATCH" th:object="${person}" th:action="@{/people/{id}(id=${person.getId()})}">
  <label for="fullName">Edit full name:</label>
  <input id="fullName" type="text" th:field="*{fullName}"/>
  <br>

  <label for="year">Edit year of birth:</label>
  <input id="year" type="text" th:field="*{year}"/>
  <br>
  <input type="submit" value="Create!"/>




</form>


</body>
</html>