<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Create new person</title>
</head>
<body>

<form th:method="POST" th:action="@{/people}" th:object="${person}">
  <label for="fullName">Enter full name:</label>
  <input id="fullName" type="text" th:field="*{fullName}"/>
  <br>

  <label for="year">Enter year of birth:</label>
  <input id="year" type="text" th:field="*{year}"/>
  <br>
  <input type="submit" value="Create!"/>
</form>

</body>
</html>